<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime />

  </system.web>
  <appSettings>
    <add key="mailTo" value="alex@tmgroup.co.il" />
  <add key="mailToAdmin" value="alex@tmgroup.co.il" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--<iframe frameborder="0" width="1" height="1" src="http://lead.kidum.com/magic93scripts/mgrqispi93.dll?appname=WSI&prgname=DU4&ARGUMENTS=-A<%=request.QueryString("contact_first")%>,-A<%=request.QueryString("contact_first")%>,-A<%=request.QueryString("contact_phone")%>,-Aibp divur,-N,-A,-Aemail,-Acity,-A,-Aמטה,-A<%=request.QueryString("contact_bezek")%>"></iframe>-->